*{
	margin:0;
	padding:0;
}
body{
	margin:50px auto;
	width:500px;
	font-family:Trebuchet MS;
	font-size:20px;
}
img{
	width:100%;
}
figure{
	margin:0;
	position:relative;
	border:5px solid white;
	box-shadow:0 0 4px rgba(0,0,0,.3);
	display:block;
}
figure:hover figcaption{
	opacity:1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);

}
figcaption{
	opacity:0;
	position:absolute;
	top:0;
	background:rgba(0,0,0,.4);
	color:#fff;
	height:100%;
	width:100%;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-webkit-transition-delay: all .5s;
	-moz-transition-delay: all .5s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}
figure img{
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
}
figure:hover img{
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
}
figcaption h3,
figcaption p{
	padding:10px 20px;
	margin-bottom:0;
	margin-top:0;
}
figcaption h3{
	background:#000;
	margin-top:20px;
}
figcaption p{}